<!DOCTYPE html>
<html>
<head>
	<%- include('../partials/libs') %>
	
	<link rel="stylesheet" type="text/css" href="../css/stylesheets/style.css">
	<script type="text/javascript"  src="../js/game.js"></script>
	<title>LD32</title>
</head>
<body>

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
					<h3 class="masthead-brand">MineSweepears island</h3>
						<nav>
							<ul class="nav masthead-nav">
								<li class=""><a href="../">Home</a></li>	
								<li class=""><a id="startGame">Game</a></li>	
								<li class=""><button class="btn btn-primary" id="fullScreen">Go FullScreen</button></li>					
								<li><a href="https://dhmmasson.github.io/">@dhmmasson</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="inner cover">
				<div class="container" id="scoreBoard" >
					<div class="row">
					  <div class="col-xs-4" id="">Time Remaining</div>
					  <div class="col-xs-4" id="">Current line score</div>
					  <div class="col-xs-4" id=""> Total score</div>
					</div>
					<div class="row">
					  <div class="col-xs-4" id="timeRemaining">60</div>
					  <div class="col-xs-4" id="currentLineScore">60</div>
					  <div class="col-xs-4" id="score">0</div>
					</div>
				</div>
					<canvas id="ld32Canvas">
						
					</canvas>



				</div>
				</div><!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				        <h4 class="modal-title" id="myModalLabel">Game Over </h4>
				      </div>
				      <div class="modal-body">
				       <div class="row">						 
						  <div class="col-xs-6" id="">Your Score</div>
						  <div class="col-xs-6" id="GameScore">0</div>
						</div> 
						<div class="row">						 
						  <div class="col-xs-6" id="">Your Best Score</div>
						  <div class="col-xs-6" id="BestGameScore">0</div>
						</div>
				      </div>

				      
				   
				      <div class="modal-footer">
				        <button id="restart "type="button" class="btn btn-default" data-dismiss="modal">Restart</button>				       
				      </div> 
				        </div>
				    </div>
				  </div>
				<div class="mastfoot">
					<div class="inner">
						<p>LD32 by <a href="https://dhmmasson.github.io/">dhmmasson</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>    
</body>
</html>
