<!DOCTYPE html>
<html>
<head>
	<% include ../partials/libs %>
	
	<link rel="stylesheet" type="text/css" href="css/stylesheets/style.css">
	<title>LD32</title>
</head>
<body>

	<div class="site-wrapper">

		<div class="site-wrapper-inner">

			<div class="cover-container">

				<div class="masthead clearfix">
					<div class="inner">
					<h3 class="masthead-brand">LD32</h3>
						<nav>
							<ul class="nav masthead-nav">
								<li class="active"><a href="#">Game</a></li>								
								<li class="disabled"><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
				<div class="inner cover">
				<div class="row">
				  <div class="col-xs-4" id="">Time Remaining</div>
				  <div class="col-xs-4" id="">Current line score</div>
				  <div class="col-xs-4" id=""> Total score</div>
				</div>
				<div class="row">
				  <div class="col-xs-4" id="timeRemaining">60</div>
				  <div class="col-xs-4" id="currentLineScore">60</div>
				  <div class="col-xs-4" id="score">0</div>
				</div>
					<canvas id="ld32Canvas">
						
					</canvas>

				</div>
				<div class="mastfoot">
					<div class="inner">
						<p>LD32 by <a href="https://github.com/GameDhim/ld32">Dhim</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>    
</body>
</html>
